.shop_category {
	min-height: 100vh;
}
.shopcategory_banner {
	display: block;
	margin: 30px auto;
	width: 75%;
	height: 500px;

}

.shopcategory_indexSort {
	display: flex;
	margin: 0px 170px;
	justify-content: space-between;
	align-items: center;
}

.shopcategory_sort {
	padding: 10px 20px;
	border-radius: 40px;
	border: 1px solid #545454;
}

.shopcategory_indexSort p span {
	font-weight: 600;
}

.shopcategory_products {
	margin: 20px 170px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 80px;
	
}

.shopcategory_loadmore {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 150px auto;
	width: 233px;
	height: 45px;
	border: 1px solid #697AD1; 
	border-radius: 10px;
	background: white;
	color: #697AD1;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

.tab-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30px 130px;
	padding: 0px;
}

.selected_category {
	margin: 60px auto;
	color: black;
	font-size: 40px;
	font-weight: 400;
	font-family: "Special Elite", system-ui;
	text-align: center;
}

.search-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	margin:90px 0;
}
.search-bar {
	width: 500px;
	height: 44px;
	background-color: #F7F6F6;
	color: #545454;
	border: 1px solid #697AD1;
	border-radius: 10px;
	color:#545454;
	font-size: 16px;
	padding-left: 10px;
}

.search-btn {
	width: 70px;
	height: 48px;
	border-radius: 10px;
	background-color: #697AD1;
	border:#697AD1;
	color:white;
	font-size: 16px;
	margin-left: -70px;
}

.tab-container img {
	color: #697AD1;
}