.item {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-content: center;
	position: relative;
}

.box-shadow {
	width: 250px;
	height: 400px;
	background-color: #F0F0F0;
	position: absolute;
	top:80px;
	left:25px;
	z-index: -1;
	border-radius: 10px;
}

.container-item{
	margin-left: 50px;
}
.item img{
	width: 200px;
	height: 300px;
	border-radius: 10px;
	margin: 0 50px;
}
.author-name {
	font-family: "Ubuntu Mono", monospace;
	font-size: 16px;
	font-weight: 400;
	color: #636363;
	
}
.rating {
	display: flex;
	margin: 15px 0;
}

.book-title{ 
	width: 200px;
	height: 30px;
	margin: 6px 10px 6px 0;
	font-family: "Ubuntu Mono", monospace;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.item_prices{
	display: flex;
	gap: 70px;
}

.item_price_new{
	color: black;
	font-size: 18px;
	font-weight: 600;
}

.item_price_old{
	color: rgb(213, 16, 16);
	font-size: 18px;
	font-weight: 500;
	text-decoration: line-through;
}

.item:hover{
	transform: scale(1.05);
	transition: 0.6s;
}

.item_button_box{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 40px;
}

.addToCardBtn {
	width: 100px;
	height: 35px;
	font-family: "Ubuntu Mono", monospace;
	font-size: 20px;
	font-weight: 500;
	color: white;
	background: #697AD1;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}
